*.DS_Store
node_modules/
dist/
packages/merInfo-old/www/main.html

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm-debug.log*
.yarn-debug.log*
.yarn-error.log*
.pnpm-debug.log*
# Editor directories and files
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.eclipse/
